.main-header .nav-item a.dropdown-toggle {
  display: flex;
  position: relative;
}

.nav-item .dropdown-toggle::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-header .nav-item a.dropdown-toggle .avatar-wrapper {
  padding-top: 36px;
  width: 36px;
  margin-right: 4px;
  margin-top: 0px;
}

.main-header .nav-item .dropdown-menu .avatar-area .avatar-wrapper {
  margin: auto;
}