.fadeIn {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transform: translateY(40px);

  &.active {
    opacity: 1;
    z-index: 100;
    visibility: visible;
    transform: translateY(0px);
  }
}