.breadcrumb-cate {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #d8d8d8;

  a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4em;
    color: #9b9b9b;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.active {
      font-size: 2em;
      font-weight: bold;
      color: #000;
    }

    &:hover {
      color: #ed1c24;
    }
  }
}

.breadcrumb-article {
  a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6em;

    &.active {
      color: #ed1c24
    }
  }

  .icon {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.2em;
  }
}