.card {
  position: relative;

  .thumbnail {
    position: relative;
  }

  .img-holder {
    position: relative;
    overflow: hidden;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .ssf-play {
      position: absolute;
      width: 30px;
      height: 30px;
      color: #fff;
      background-color: #ed1c24;
      font-size: 20px;
      top: 5px;
      right: 5px;
      border-radius: 999px;

      &::before {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: calc(50% + 1px);
      }
    }
  }

  .title {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.35;
    font-weight: bold;
    font-size: 2em;
    -webkit-line-clamp: 5;
  }

  .subtitle {
    a {
      display: inline-block;
      font-size: 1.1em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 5px 10px;
      background-color: #ed1c24;
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
      -webkit-line-clamp: 1;
      margin-bottom: 5px;

      &:hover {
        background-color: #000;
      }
    }
  }

  .sapo {
    font-size: 1.4em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.35;
    padding-top: 10px;
    color: #95999e;
    -webkit-line-clamp: 3;
  }

  .cate {
    font-size: 1.3em;
    color: #7b7b7b;
    padding: 10px 10px 0 0;
    text-transform: uppercase;
    display: inline-block;

    &:hover {
      color: #ed1c24
    }
  }

  .time {
    font-size: 1.3em;
    color: #95999e;
    padding-top: 10px;
  }

  &.v-thumb {
    .img-holder {
      padding-bottom: 160%;
    }

    .title {
      -webkit-line-clamp: unset;
    }
  }

  &.h-thumb {
    .img-holder {
      padding-bottom: 62.5%;
    }
  }

  &.curvy-thumb {
    .img-holder {
      border-radius: 5px;
    }
  }

  &.v-card {
    .title {
      margin-top: 10px;
    }

    .thumbnail {
      .subtitle {
        position: absolute;
        bottom: 0;
        left: 0;

        a {
          margin-bottom: 0;
        }
      }

    }
  }

  &.h-card {
    .thumbnail {
      width: 50%;
      float: left;
      margin-right: 10px;
    }


    .cate,
    .time {
      padding-top: 10px;
      display: inline-block;
    }
  }

  &.stt {
    padding-left: 30px;

    .stt {
      position: absolute;
      left: 0;
      color: #ed1c24;
      font-size: 1.8em;
      font-weight: 600;
      top: 50%;
      transform: translateY(-50%);

    }

  }

  &.mini-card {
    .title {
      padding-left: 15px;
      position: relative;
      font-size: 1.4em;

      .ssf-dot {
        color: #ed1c24;
        font-size: 20px;
        position: absolute;
        top: -5px;
        left: -4px;
      }
    }
  }

  &.inside-card {
    .title {
      position: absolute;
      bottom: 10px;
      padding: 0 15px;
      z-index: 2;

      a {
        color: #fff;

        &:hover {
          color: #ed1c24;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #000;
      opacity: .7;
      z-index: 1;
      color: #000;
      -webkit-mask-image: -webkit-gradient(linear, left bottom, left center, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));

    }
  }

  &.slideup {
    transition: transform .3s;

    &:hover {
      transform: translateY(-4px);
    }
  }

  &.zoom {
    .thumbnail {
      .img-holder {
        a {
          transition: transform .3s;
        }
      }
    }

    &:hover {
      .thumbnail {
        .img-holder {
          a {
            transform: scale(1.025);
          }
        }
      }

    }


  }
}

.list-cards {
  .card {
    margin-top: 15px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e7e8ea;

    &.mini-card {
      border-bottom: unset;
      padding-bottom: 0;
      margin-top: 10px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: unset;
    }
  }

  &.card-thumb-30 {
    .h-card {
      .thumbnail {
        width: 30%;
      }
    }
  }

  &.card-thumb-40 {
    .h-card {
      .thumbnail {
        width: 40%;
      }
    }
  }

  &.display-flex {
    &.cong-nghe {
      .card {
        width: 32.66%;
      }
    }

    .card {
      width: 31.5%;
      margin-top: 0;
      border-bottom: unset;


      .title {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.8em;
      }

      .cate {
        padding-left: 10px;
      }

      .sapo {
        padding-left: 10px;
        padding-right: 10px;
      }

      &.inside-card {
        padding-bottom: 0;

        .title {
          font-size: 1.6em;

        }
      }
    }
  }

  &.mansonry-4 {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    // height: 1500px;

    .card {
      width: 24%;

      &:nth-of-type(4n+1) {
        order: 1;
      }

      &:nth-of-type(4n+2) {
        order: 2;
      }

      &:nth-of-type(4n+3) {
        order: 3;
      }

      &:nth-of-type(4n) {
        order: 4;
      }

      &.break {
        flex-basis: 100%;
        width: 0;
        margin: 0;
      }
    }

  }
}