body {
  font-size: 10px;
  color: #000;
}

a {
  color: #000;
  transition: all .3s;
}

.rotate {
  &-180 {
    &::before {
      transform: rotate(180deg);
      display: inline-block;
    }
  }
}

.f {
  &12 {
    font-size: 1.2em;
  }

  &13 {
    font-size: 1.3em;
  }

  &14 {
    font-size: 1.4em;
  }

  &15 {
    font-size: 1.5em;
  }

  &16 {
    font-size: 1.6em;
  }

  &18 {
    font-size: 1.8em;
  }

  &20 {
    font-size: 2em;
  }

  &24 {
    font-size: 2.4em;
  }

  &30 {
    font-size: 3em;
  }

  &35 {
    font-size: 3.5em;
  }
}

.fw {
  &bold {
    font-weight: bold;
  }

  &600 {
    font-weight: 600;
  }
}

.line-height {
  &-1-25 {
    line-height: 1.25;
  }

  &-1-35 {
    line-height: 1.35;
  }
}

.bg {
  &-fafafa {
    background-color: #fafafa;
  }

  &-f1f1f1 {
    background-color: #f1f1f1;
  }

  &-fff {
    background-color: #fff;
  }

  &-000 {
    background-color: #000;
  }

  &-333 {
    background-color: #333;
  }

  &-ed1c24 {
    background-color: #ed1c24;
  }

  &-363636 {
    background-color: #363636;
  }

  &-ffbe3c {
    background-color: #ffbe3c;
  }

}


.color-fff {
  color: #fff;
}

.color-333 {
  color: #333;
}

.color-666 {
  color: #666;
}

.color-7b7b7b {
  color: #7b7b7b;
}

.color-bd1e1e {
  color: #bd1e1e;
}

.color-bd1e1e.active {
  color: #333;
}

.color-8a8a8a {
  color: #8a8a8a;
}

.color-323466 {
  color: #323466;
}

.hover-color-333:hover {
  color: #333;
}

.hover-color-ed1c24:hover {
  color: #ed1c24;
}

.hover-color-4167b2:hover {
  color: #4167b2;
}

.hover-dis-block:hover {
  display: block;
}


.display {
  &-none {
    display: none;
  }

  &-block {
    display: block;
  }

  &-inline-block {
    display: inline-block;
  }

  &-flex {
    display: flex;
  }
}

.flex-prop {
  &-jcsb {
    justify-content: space-between;
  }

  &-jcsa {
    justify-content: space-around;
  }

  &-jcfe {
    justify-content: flex-end;
  }

  &-fw {
    flex-wrap: wrap;
  }

  &-aic {
    align-items: center;
  }

  &-fdc {
    flex-direction: column;
  }
}

.h {
  &-unset {
    height: unset;
  }

  &-100 {
    height: 100%;
  }
}

.h3 {
  height: 3px;
}

.h40 {
  height: 40px;
}

.h50 {
  height: 50px;
}

.h55 {
  height: 55px;
}

.h70 {
  height: 70px;
}

.h80 {
  height: 80px;
}

.h100 {
  height: 100px;
}

.h110 {
  height: 110px;
}

.h200 {
  height: 200px;
}

.w-30vw {
  width: 30vw;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}

.w130 {
  width: 130px;
}

.w660 {
  width: 660px;
}

.w800 {
  width: 800px;
}

.w1000 {
  width: 1000px;
}

.w1160 {
  width: 1160px;
}

.w1200 {
  width: 1200px;
}

.w1300 {
  width: 1300px;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-69 {
  width: 69%;
}

.w-66 {
  width: 66%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-35 {
  width: 35%;
}

.w-34 {
  width: 34%;
}

.w-32 {
  width: 32%;
}

.w-30 {
  width: 30%;
}

.w-27 {
  width: 25%;
}

.w-25 {
  width: 25%;
}

.w-23 {
  width: 23%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-10 {
  width: 10%;
}

.w-4 {
  width: 4%;
}

.mw800 {
  max-width: 800px;
}

.padding {
  &120-0-80-0 {
    padding: 120px 0 80px 0;
  }

  &80-0-80-0 {
    padding: 80px 0 80px 0;
  }

  &0-20 {
    padding: 0 20px;
  }
}



.p0-40 {
  padding: 0 40px;
}

.p10-20 {
  padding: 10px 20px;
}

.p10-0 {
  padding: 10px 0;
}

.p15-20 {
  padding: 15px 20px;
}

.p20-0 {
  padding: 20px 0;
}

.p60-0 {
  padding: 60px 0;
}

.p40-0 {
  padding: 40px 0;
}

.p80-0 {
  padding: 80px 0;
}

.p20-40 {
  padding: 20px 40px;
}

.p40-80 {
  padding: 40px 80px;
}

.p40 {
  padding: 40px;
}

.p20 {
  padding: 20px;
}

.p10 {
  padding: 10px;
}

.pb-42 {
  padding-bottom: 42%;
}

.pb-56-25 {
  padding-bottom: 56.25%;
}

.pb-62-5 {
  padding-bottom: 62.5%;
}

.pb-63 {
  padding-bottom: 63%;
}

.padding-block {
  padding: 4% 8% 8% 8%;
}

.pb20 {
  padding-bottom: 20px;
}

.pt40 {
  padding-top: 40px;
}

.pt80 {
  padding-top: 80px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.ma {
  margin: 0 auto;
}

.mr30 {
  margin-right: 30px;
}

.ml20 {
  margin-left: 20px;
}

.ml40 {
  margin-left: 40px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt65 {
  margin-top: 65px;
}

.mt70 {
  margin-top: 70px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb70 {
  margin-bottom: 70px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.border-top-d8 {
  border-top: 1px solid #d8d8d8
}

.border-radius-50 {
  border-radius: 50%;
}

.pos-relative {
  position: relative;
}

.pos-static {
  position: static;
}

.pos-sticky {
  position: sticky;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.t0 {
  top: 0;
}

.t50 {
  top: 50px;
}

.t70 {
  top: 70px;
}

.t100 {
  top: 100px;
}

.l0 {
  left: 0;
}

.b0 {
  bottom: 0;
}

.z3 {
  z-index: 3;
}

.z5 {
  z-index: 5;
}

.z100 {
  z-index: 100;
}

.pos-absolute-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll
}

.bg-overlay {
  background-color: transparent;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-overlay.active {
  z-index: 150;
  visibility: visible;
  background-color: rgba(0, 0, 0, .7);
}

.list-style-type-disc {
  list-style-type: disc;
}

.box-shadow {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}

.box-shadow-2 {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.thumb-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.lc2 {
  -webkit-line-clamp: 2;
}

.lc3 {
  -webkit-line-clamp: 3;
}

.lc4 {
  -webkit-line-clamp: 4;
}

.lc5 {
  -webkit-line-clamp: 5;
}

.text-ellipsis {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.category {
  font-weight: 600;
  font-size: 1.4em;
  color: #7b7b7b;
  margin-right: 5px;
  line-height: 1.35;
}

.time-ago {
  font-size: 1.2em;
  color: #9b9b9b;
  line-height: 1.35;
}

.btn-share {
  color: #4167b2;
  font-size: 1.3em;
  border: solid 1px #4167b2;
  padding: 5px 25px;
  border-radius: 999px;
  cursor: pointer;
  transition: all .3s;
}

.btn-share:hover {
  background-color: #4167b2;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 8px;
  }

  .ipad-w-90 {
    width: 90%;
  }
}