.header-cms {
  display: none;
}

.main-footer {
  display: none;
}

.pr40 {
  padding-right: 40px;
}

article {
  .author {
    font-family: Arial !important;
  }

  .article-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.5;
    font-family: Font-Bold, Arial;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
  }

  .content {

    h2,
    h3 {
      font-weight: bold !important;
      font-size: 26px;
      line-height: 1.4;
      margin-top: 25px;
      font-family: Arial !important;
    }

    a {
      display: inline !important;
    }

    i {
      // font-style: unset !important;
    }

    u {
      text-decoration: unset !important;
    }

    p {
      font-size: 18px !important;
      line-height: 1.68 !important;
      color: #333333;
      font-family: Arial !important;
      text-align: left !important;

      span {
        font-size: inherit !important;
        line-height: inherit !important;
        color: #333;
        font-family: Arial !important;
        background-color: unset !important;
      }

      a {
        font-weight: inherit !important;
      }

      img {
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
        height: unset !important;
      }
    }

    figure {
      display: table;
      margin: 0 auto;
      margin-top: 25px !important;

      &.media {
        width: 100% !important;
      }

      &.image {
        text-align: center !important;
      }

      figcaption {
        display: table-caption !important;
        caption-side: bottom;
        font-size: 15px !important;
        color: #777777 !important;
        text-align: left;
        font-weight: 400;
        line-height: 20px;
        padding: 10px 13px;
        max-width: 660px;
        margin: 0 auto;
        padding-left: 0;

        span,
        a {
          color: inherit !important;
          font-size: inherit !important;
          font-family: inherit !important;
          font-weight: inherit !important;
        }
      }
    }

    blockquote {
      position: relative;
      border-left: none;
      border: 2px rgba(237, 28, 36, 0.44) solid;
      background: #fffcfc;
      padding: 15px;
      width: 95%;
      margin: 0 auto;
      margin-bottom: 20px;
      margin-top: 20px;
      max-width: 660px;
    }

    .wp-caption {
      display: table;
      margin: 0 auto;
      width: 100% !important;

      img {
        margin-top: 25px !important;
        text-align: center !important;
        height: unset !important;
      }

      .wp-caption-text {
        display: table-caption !important;
        caption-side: bottom;
        font-size: 15px !important;
        color: #777777 !important;
        text-align: left;
        font-weight: 400;
        line-height: 20px;
        padding: 10px 13px;
        max-width: 660px;
        margin: 0 auto;
        padding-left: 0;
      }
    }

    .wp-video {
      margin-top: 25px;

      video {
        width: 100%;
      }
    }

    iframe {
      margin: 0 auto;
      display: block;
      width: 100%;
    }
  }

  .tag {
    a {
      margin-bottom: 10px;
      padding: 7px 10px;
    }
  }
}

@media only screen and (max-width: 992px) {
  article {
    width: 95% !important;
    margin: 0 auto;

    .article-content {
      >.w-offset-30 {
        width: 100%;
        padding-right: 0 !important;
      }

      >.w-30 {
        display: none;
      }
    }
  }

  footer {
    display: none;
  }
}


.special-editor-type,
.mini-editor-type {
  figure {
    &.image-style-side {
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;
      float: unset;

      figcaption {
        display: block !important;
      }
    }
  }

}

.special-editor-type {
  figure {
    &.image-style-side {
      max-width: 760px;
    }
  }

}

.mini-editor-type {
  figure {
    &.image-style-side {
      max-width: 660px;
    }
  }

}