@media only screen and (max-width: 1000px) {
  .w1000 {
    width: 100%;
  }

  .holder970x250 {
    width: 100%;
    height: unset;

    img {
      width: 100%;
    }
  }

  .m-flex-direction-column {
    flex-direction: column
  }
}

@media only screen and (max-width: 600px) {
  .m-dis-none {
    display: none;
  }

  .m-dis-block {
    display: block;
  }

  .m-w-90 {
    width: 90%;
  }

  .m-w-100 {
    width: 100%;
  }

  .m-ma {
    margin: 0 auto;
  }

  .m-pr0 {
    padding-right: 0;
  }

  header .header-bar {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    z-index: 5;
    height: 100vh;
    width: 300px;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateX(100%);
    background-color: #ffffff;
    transition: transform linear .2s;

    a {
      color: #333;
    }

    &.active {
      transform: translateX(0%);
    }
  }

  .card .img-holder .icon-play {
    width: 15px;
    height: 15px;
    font-size: 6px;
  }
}