header {
  &.special {
    .logo-saostar {
      height: 25px;
    }

    .logo-special {
      height: 30px;
    }
  }
}

.before-background-yellow:before {
  padding: 40px;
  height: 100%;
  max-height: 670px;
  position: absolute;
  top: 0;
  left: -40px;
  content: '';
  display: block;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(to top, #e6a413, #f1c24d 40%, #e8be38);
}

.special {
  .slider-left {
    img {
      top: 80px;
      width: 20px;
    }
  }

  .slider-right {
    img {
      top: 70%;
      width: 13px;
    }
  }

  .card {
    &.feature-special {
      background-color: #fff;

      .thumbnail {
        float: right;
        width: 65%;
        margin-right: 0;
      }

      .title {
        padding: 20px 20px 0 20px;
        font-size: 2.6em;
      }

      .sapo,
      .cate {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .list-cards {
    &.mansonry-4 {
      .card {
        width: 24%;
        margin-top: 0;
        border-bottom: unset;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    }
  }
}