.custom-date-range-picker {
  .react-datepicker-wrapper {
    .react-datepicker__input-container {
      input {
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: 3px;
        padding: 0.375rem 0.75rem;
        line-height: 1.5;
        height: calc(2.25rem + 2px);
      }
    }
  }
}
